﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.stage.html" name="" title="max.stage">max.stage</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.stage.StageController.html" name="" title="StageController">StageController</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.stage.component.html" name="" title="max.stage.component">max.stage.component</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.stage.component.CollisionComponent.html" name="" title="CollisionComponent">CollisionComponent</a>
                          </li>
                          <li>
                              <a href="max.stage.component.GeometryComponent.html" name="" title="GeometryComponent">GeometryComponent</a>
                          </li>
                          <li>
                              <a href="max.stage.component.ILayerComponent.html" name="" title="ILayerComponent">ILayerComponent</a>
                          </li>
                          <li>
                              <a href="max.stage.component.LayerComponent.html" name="" title="LayerComponent">LayerComponent</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.stage.layer.html" name="" title="max.stage.layer">max.stage.layer</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.stage.layer.CollisionLayer.html" name="" title="CollisionLayer">CollisionLayer</a>
                          </li>
                          <li>
                              <a href="max.stage.layer.ContainerLayer.html" name="" title="ContainerLayer">ContainerLayer</a>
                          </li>
                          <li>
                              <a href="max.stage.layer.Player2DLayer.html" name="" title="Player2DLayer">Player2DLayer</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="max.stage.layer.template.html" name="" title="max.stage.layer.template">max.stage.layer.template</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="max.stage.layer.template.ComponentLayer.html" name="" title="ComponentLayer">ComponentLayer</a>
                          </li>
                          <li>
                              <a href="max.stage.layer.template.ControllerLayer.html" name="" title="ControllerLayer">ControllerLayer</a>
                          </li>
                          <li>
                              <a href="max.stage.layer.template.IStageLayer.html" name="" title="IStageLayer">IStageLayer</a>
                          </li>
                          <li>
                              <a href="max.stage.layer.template.Layer.html" name="" title="Layer">Layer</a>
                          </li>
                    </ul>
                </li>
                <li>
                    <span class="expand-stub"></span>
                    <a href="stage.layer.controller.html" name="" title="stage.layer.controller">stage.layer.controller</a>
                    
                    <ul class="nav level2">
                          <li>
                              <a href="stage.layer.controller.Controller.html" name="" title="Controller">Controller</a>
                          </li>
                          <li>
                              <a href="stage.layer.controller.Player2DController.html" name="" title="Player2DController">Player2DController</a>
                          </li>
                    </ul>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>