﻿
<div id="sidetoggle">
  <div>
    <div class="sidefilter">
      <form class="toc-filter">
        <span class="glyphicon glyphicon-filter filter-icon"></span>
        <span class="glyphicon glyphicon-remove clear-icon" id="toc_filter_clear"></span>
        <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
      </form>
    </div>
    <div class="sidetoc">
      <div class="toc" id="toc">
          
          <ul class="nav level1">
                <li>
                    <span class="expand-stub"></span>
                    <a>Using max.stage</a>
                    
                    <ul class="nav level2">
                          <li>
                              <span class="expand-stub"></span>
                              <a href="GettingStarted.html" name="" title="Getting Started">Getting Started</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <a href="Installation.html" name="" title="Installation">Installation</a>
                                    </li>
                              </ul>
                          </li>
                          <li>
                              <span class="expand-stub"></span>
                              <a>Usage</a>
                              
                              <ul class="nav level3">
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a>Stage Structure</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="Components.html" name="" title="Components">Components</a>
                                              </li>
                                              <li>
                                                  <a href="Controllers.html" name="" title="Controllers">Controllers</a>
                                              </li>
                                              <li>
                                                  <a href="Layers.html" name="" title="Layers">Layers</a>
                                              </li>
                                              <li>
                                                  <a href="Types.html" name="" title="Types">Types</a>
                                              </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="expand-stub"></span>
                                        <a>Tutorial</a>
                                        
                                        <ul class="nav level4">
                                              <li>
                                                  <a href="BuildStage.html" name="" title="Building Stages">Building Stages</a>
                                              </li>
                                              <li>
                                                  <a href="SaveLoad.html" name="" title="Saving/Loading Stages">Saving/Loading Stages</a>
                                              </li>
                                              <li>
                                                  <a href="CustomComponent.html" name="" title="Custom Components">Custom Components</a>
                                              </li>
                                              <li>
                                                  <a href="CustomLayer.html" name="" title="Custom Layers">Custom Layers</a>
                                              </li>
                                        </ul>
                                    </li>
                              </ul>
                          </li>
                    </ul>
                </li>
                <li>
                    <a href="../api/max.stage.html" name="../api/toc.html" title="Api Documentation">Api Documentation</a>
                </li>
          </ul>
      </div>
    </div>
  </div>
</div>